name: 'Cloud DEMO Deploy'

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Cloud Deploy
    runs-on: ubuntu-latest
    steps:

    - name: Repository Dispatch
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{ secrets.PAT }}
        repository: chillianosson/action-practice-2
        event-type: demo_deploy_trigger_tests
        client-payload: '{"ref_name": "my-branch-name-reference"}'