name: Quality gate

on:
  workflow_dispatch:
    branches-ignore:
      - main

  push:
    branches-ignore:
      - main

jobs:
  run_quality_gate:
    # if: "contains(github.event.head_commit.message, 'demo-available')"
    runs-on: ubuntu-latest
    env:
      token: ${{ secrets.MY_TOKEN }}
    # GH_TOKEN: ${{ secrets.OBG_GHACTION_TOKEN }}


    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world, quality gate can run
  # - name: Checkout correct repo and branch
  #   uses: actions/checkout@v2
  #   with:
  #     repository: ${{ needs.pr_details.outputs.REPO }}
  #     ref: ${{ needs.pr_details.outputs.PR_BRANCH }}
