name: Quality gate

on:
  pull_request:
    types: [edited, labeled]

jobs:
  run_quality_gate:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    if: ${{ contains(github.event.label.name, 'demo-available') }}
    steps:
    - name: Run tests
      run: echo Hello, world, quality gate can run