name: Quality Gate Trigger

on:
  issue_comment:
    types: [created, edited]

env:
  GH_TOKEN: ${{ secrets.PAT }}

jobs:
  pr_details:
    if: ${{ contains(github.event.comment.body, 'Assigned demo url is') }}
    name: PR details
    runs-on: ubuntu-latest
    outputs:
      REPO: ${{ steps.set-variables.outputs.REPO }}
      PR_BRANCH: ${{ steps.set-variables.outputs.PR_BRANCH }}
    steps:
      - name: Get PR Branch
        uses: actions/github-script@v3
        id: get-pr
        with:
          script: |
            const prRequest = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            }
            try {
              const pr = await github.pulls.get(prRequest)
              console.log('pr.data is ', pr.data);
              return pr.data
            } catch (err) {
              core.setFailed(`PR fetch request failed with error ${err}`)
            }

      - name: Set variables in environment
        id: set-variables
        run: |
          echo "REPO=${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}" >> $GITHUB_OUTPUT
          echo "PR_BRANCH=${{ fromJSON(steps.get-pr.outputs.result).head.ref }}" >> $GITHUB_OUTPUT

  # validate_comment:
  #   name: Validate Comment
  #   runs-on: ubuntu-latest
  #   needs: [pr_details]
  #   outputs:
  #     verified: ${{ steps.validate-comment.outputs.result  == 'true' }}
  #     issue_number: ${{ steps.get-issue-number.outputs.result }}
  #   steps:
  #     - name: Checkout correct repo and branch
  #       uses: actions/checkout@v2
  #       with:
  #         repository: ${{ needs.pr_details.outputs.REPO }}
  #         ref: ${{ needs.pr_details.outputs.PR_BRANCH }}

  #     - name: Return true if valid
  #       id: validate-comment
  #       uses: actions/github-script@v6
  #       with:
  #         script: |
  #           demoRegex = new RegExp('demo.betsson.com');
  #           isValid = demoRegex.test(context.payload.comment.body);
  #           return isValid;

  #     - name: Get Issue Number
  #       id: get-issue-number
  #       uses: actions/github-script@v6
  #       with:
  #         script: |
  #           return context.payload.issue.number;

  set_ready_label:
    name: Set ready label
    runs-on: ubuntu-latest
    needs: [pr_details]
    env:
      token: ${{ secrets.PAT }}

    steps:
      - name: Checkout correct repo and branch
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.pr_details.outputs.PR_BRANCH }}

      - name: Add label
        run: |
          gh issue edit 6 --add-label "demo-available-for-branch-${{ needs.pr_details.outputs.PR_BRANCH }}"

      # gh issue edit "${{ needs.validate_comment.outputs.issue_number }}" --add-label "demo-available-for-branch-${{ needs.pr_details.outputs.PR_BRANCH }}"
