on:
  issue_comment:
    types:
      - created
      - edited
      - deleted
  workflow_dispatch:

jobs:
  # like-pizza:
  #   runs-on: ubuntu-latest
  #   if: ${{ github.event.comment.body == 'pizza'}}
  #   steps:
  #     - name: Like pizza
  #       uses: actions/github-script@v4
  #       with:
  #         script: |
  #           const {owner, repo} = context.issue
  #           github.reactions.createForIssueComment({
  #             owner,
  #             repo,
  #             comment_id: context.payload.comment.id,
  #             content: "+1",
  #           });

  trigger-quality-gate:
    uses: ./action-practice/.github/workflows/quality-gate.yml
    with:
      e2e-branch: "Passed input data branch name from triggerrrrrrr"