name: E2E Quality Gate Trigger

on:
  repository_dispatch:
    types: [demo_deploy_trigger_tests]
    inputs:
      ref_name:
        description: Branch Reference from PR
        required: true

env:
  GH_TOKEN: ${{ secrets.PAT }}

jobs:
  fetch_pr_info:
    name: Get PR Info
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.ref_name }}
        token: ${{ secrets.PAT }}

    - name: Fetch with 3rd party
      uses: jwalton/gh-find-current-pr@v1
      id: findPr

  print_outcome:
    name: Print print_outcome
    runs-on: ubuntu-latest
    needs: [fetch_pr_info]
    steps:
    - name: Print print_outcome
      run: echo "Your PR is ${PR}"
      if: success() && needs.fetch_pr_info.findPr.outputs.number
      env:
        PR: ${{ needs.fetch_pr_info.findPr.outputs.pr }}