name: E2E Quality Gate Trigger

on:
  issue_comment:
    types: [created, edited]

env:
  GH_TOKEN: ${{ secrets.PAT }}

jobs:
  get_pr_details:
    if: ${{ contains(github.event.comment.body, 'Assigned demo url is')  }}
    # && (github.event.comment.user.type == "Bot") -- to be added for adaptive repo final check
    name: PR and Branch Name
    runs-on: ubuntu-latest
    outputs:
      PR_BRANCH: ${{ steps.get-branch.outputs.PR_BRANCH }}
    steps:
      - name: Get Pr data
        id: get-pr
        uses: actions/github-script@v3
        with:
          script: |
            const prRequest = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            }
            try {
              const pr = await github.pulls.get(prRequest)
              return pr.data
            } catch (err) {
              core.setFailed(`PR fetch request failed with error ${err}`)
            }

      - name: Get Branch
        id: get-branch
        run: |
          echo "PR_BRANCH=${{ fromJSON(steps.get-pr.outputs.result).head.ref }}" >> $GITHUB_OUTPUT
          echo "PR_URL=${{ fromJSON(steps.get-pr.outputs.result).url }}"

  set_ready_label:
    name: Set ready label
    runs-on: ubuntu-latest
    needs: [get_pr_details]
    steps:
      - name: Setup useful environment variables
        uses: FranzDiebold/github-env-vars-action@v2

      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.get_pr_details.outputs.PR_BRANCH }}

      - name: Add label
        run: |
          gh pr edit ${{needs.get_pr_details.outputs.PR_URL}} --add-label 'demo'
      # gh auth status
      # export GH_TOKEN=
      # gh auth status
      # filename='token.txt'
      # echo ${{ secrets.PAT }} >> $filename
      # gh auth login --with-token < $filename
