name: Quality Gate Trigger

on:
  issue_comment:
    types: [created, edited]

env:
  GH_TOKEN: ${{ secrets.PAT }}

jobs:
  pr_details:
    if: ${{ contains(github.event.comment.body, 'Assigned demo url is') }}
    name: PR details
    runs-on: ubuntu-latest
    steps:
      - name: Get PR Branch
        uses: actions/github-script@v3
        id: get-pr
        with:
          script: |
            const prRequest = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            }
            try {
              const pr = await github.pulls.get(prRequest)
              return pr.data
            } catch (err) {
              core.setFailed(`PR fetch request failed with error ${err}`)
            }

      - name: Set variables in environment
        id: set-variables
        run: |
          echo "REPO=${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}" >> $GITHUB_ENV
          echo "PR_BRANCH=${{ fromJSON(steps.get-pr.outputs.result).head.ref }}" >> $GITHUB_ENV
          echo "ISSUE=${{ context.payload.issue.number }}" >> $GITHUB_ENV

  set_ready_label:
    name: Set ready label
    runs-on: ubuntu-latest
    needs: [pr_details]
    env:
      token: ${{ secrets.PAT }}

    steps:
      - name: Checkout correct repo and branch
        uses: actions/checkout@v3
        with:
          ref: ${{ env.PR_BRANCH }}

      - name: Add label
        run: |
          gh issue edit "${{ env.ISSUE }}" --add-label "demo-available-for-branch-${{ env.PR_BRANCH }}"