name: E2E Quality Gate Trigger

on:
  issue_comment:
    types: [created]

env:
  GH_TOKEN: ${{ secrets.PAT }}

jobs:
  get_pr_details:
    if: ${{ contains(github.event.comment.body, 'Assigned demo url is') && (github.event.comment.user.type == 'Bot') }}
    name: Get PR and Branch
    runs-on: ubuntu-latest
    outputs:
      BRANCH: ${{ steps.set-details.outputs.BRANCH }}
      PR_NUMBER: ${{ steps.set-details.outputs.PR_NUMBER }}
    steps:
      - name: Setup Node Version
        uses: actions/setup-node@v3
        with:
          always-auth: false
          node-version: "16.x"

      - name: Get Pr data
        id: get-pr-data
        uses: actions/github-script@v3
        with:
          script: |
            const prRequest = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            }
            try {
              const pr = await github.pulls.get(prRequest)
              return pr.data
            } catch (err) {
              core.setFailed(`PR fetch request failed with error ${err}`)
            }

      - name: Set details
        id: set-details
        run: |
          echo "BRANCH=${{ fromJSON(steps.get-pr-data.outputs.result).head.ref }}" >> $GITHUB_OUTPUT
          echo "PR_NUMBER=${{ fromJSON(steps.get-pr-data.outputs.result).number }}" >> $GITHUB_OUTPUT

  set_demo_available_label:
    name: Set demo available label
    runs-on: ubuntu-latest
    needs: [get_pr_details]
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.get_pr_details.outputs.BRANCH }}
          token: ${{ secrets.PAT }}

      - name: Add label
        run: |
          gh pr edit ${{needs.get_pr_details.outputs.PR_NUMBER}} --remove-label "demo-available"
          gh pr edit ${{needs.get_pr_details.outputs.PR_NUMBER}} --add-label "demo-available"