name: Quality Gate Trigger

on:
  issue_comment:
    types:
      - created

jobs:
  get-pr-details:
    name: Get relevant details for PR
    if: github.event.issue.pull_request
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v3
        id: get-pr
        with:
          script: |
            const request = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            }
            core.info(`Getting PR #${request.pull_number} from ${request.owner}/${request.repo}`)
            try {
              const result = await github.pulls.get(request)
              console.log('result is ', result);
              return result.data
            } catch (err) {
              core.setFailed(`Request failed with error ${err}`)
            }

      # commit-change-to-trigger:
      #   name: Use branch to trigger workflow
      #   runs-on: ubuntu-latest
      #   needs: [get-pr-details]
      #   steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}
          ref: ${{ fromJSON(steps.get-pr.outputs.result).head.ref }}

      - name: Git Status
        run: |
          git status

      - name: Setup Node Version
        uses: actions/setup-node@v1
        with:
          always-auth: false
          node-version: "16.x"

      - name: Create comment
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ fromJSON(steps.get-pr.outputs.result).pull_number }}
          body: |
            This is a multi-line test comment
            - With GitHub **Markdown** :sparkles:
            - Created by [create-or-update-comment][1]

            [1]: https://github.com/peter-evans/create-or-update-comment
          reactions: "+1"
