name: E2E Quality Gate Trigger

on:
  repository_dispatch:
    types: [demo_deploy_trigger_tests]
    inputs:
      ref_name:
        description: Branch Reference from PR
        required: true
      pr_number:
        description: Pr Number
        required: true
      demo_url:
        description: Demo Url
        required: true

env:
  GH_TOKEN: ${{ secrets.PAT }}

jobs:
   set_demo_available_label:
    name: Set demo available label
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ref_name }}
          token: ${{ secrets.PAT }}

      - name: Add label
        run: |
          ref: ${{ github.event.inputs.ref_name }}
          echo "demo url is ${{ github.event.inputs.demo_url }}"
          gh pr edit ${{github.event.inputs.pr_number}} --remove-label "demo-available"
          gh pr edit ${{github.event.inputs.pr_number}} --add-label "demo-available"

