name: E2E Quality Gate Trigger

on:
  issue_comment:
    types: [created, edited]

env:
  GH_TOKEN: ${{ secrets.PAT }}

jobs:
  pr_details:
    if: ${{ contains(github.event.comment.body, 'Assigned demo url is') }}
    name: PR details
    runs-on: ubuntu-latest
    outputs:
      REPO: ${{ steps.set-variables.outputs.REPO }}
      PR_BRANCH: ${{ steps.set-variables.outputs.PR_BRANCH }}
      ISSUE: ${{ steps.set-variables.outputs.ISSUE }}
    steps:
      - name: Get Pr Details
        id: get-pr
        uses: actions/github-script@v3
        with:
          script: |
            const prRequest = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            }
            try {
              const pr = await github.pulls.get(prRequest)
              return pr.data
            } catch (err) {
              core.setFailed(`PR fetch request failed with error ${err}`)
            }

      - name: Set variables in environment
        id: set-variables
        run: |
          echo "REPO=${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}" >> $GITHUB_OUTPUT
          echo "PR_BRANCH=${{ fromJSON(steps.get-pr.outputs.result).head.ref }}" >> $GITHUB_OUTPUT
          echo "ISSUE=${{ fromJSON(steps.get-pr.outputs.result).number }}" >> $GITHUB_OUTPUT
          echo "LABEL_NAME=${{ ('demo-available-' + fromJSON(steps.get-pr.outputs.result).head.ref).slice(0,50) }}"

  set_ready_label:
    name: Set ready label
    runs-on: ubuntu-latest
    needs: [pr_details]
    env:
      token: ${{ secrets.PAT }}

    steps:
      - name: Checkout correct repo and branch
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.pr_details.outputs.PR_BRANCH }}

      - name: Add label
        run: |
          LABEL='${{needs.pr_details.outputs.LABEL_NAME}}'
          echo $LABEL
          gh label create $LABEL -f -c "blue"
          gh issue edit "${{ needs.pr_details.outputs.ISSUE }}" --remove-label $LABEL
          gh issue edit "${{ needs.pr_details.outputs.ISSUE }}" --add-label $LABEL