name: Quality Gate Trigger

on:
  issue_comment:
    types:
      - created

jobs:
  pr-commented:
    name: PR commented
    if: github.event.issue.pull_request
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v3
        id: get-pr
        with:
          script: |
            const request = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            }
            core.info(`Getting PR #${request.pull_number} from ${request.owner}/${request.repo}`)
            try {
              const result = await github.pulls.get(request)
              return result.data
            } catch (err) {
              core.setFailed(`Request failed with error ${err}`)
            }

      - uses: actions/checkout@v2
        with:
          repository: ${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}
          ref: ${{ fromJSON(steps.get-pr.outputs.result).head.ref }} # branch name

      - name: Git Status
        run:  |
          git status

      - name: Setup Node Version
        uses: actions/setup-node@v1
        with:
          always-auth: false
          node-version: "16.x"

      - name: Push change to trigger quality gate
        run:  |
          mkdir demo
          touch demo/demo-available.txt
          git config --global user.email "cillian.omurchu@betssongroup.com"
          git config --global user.name "chillianosson"
          git add demo/demo-available.txt
          git commit -m "feature(quality gate): push something to run quality gate from correct branch"
          git push

