name: E2E Quality Gate Trigger

on:
  issue_comment:
    types: [created, edited]

env:
  GH_TOKEN: ${{ secrets.PAT }}

jobs:
#   pr_details:
#     if: ${{ contains(github.event.comment.body, 'Assigned demo url is')  }}
# # && (github.event.comment.user.type == "Bot") -- to be added for adaptive repo final check
#     name: PR details
#     runs-on: ubuntu-latest
#     outputs:
#       REPO: ${{ steps.set-variables.outputs.REPO }}
#       PR_BRANCH: ${{ steps.set-variables.outputs.PR_BRANCH }}
#       ISSUE: ${{ steps.set-variables.outputs.ISSUE }}
#     steps:
#       - name: Get Pr Details
#         id: get-pr
#         uses: actions/github-script@v3
#         with:
#           script: |
#             const prRequest = {
#               owner: context.repo.owner,
#               repo: context.repo.repo,
#               pull_number: context.issue.number
#             }
#             try {
#               const pr = await github.pulls.get(prRequest)
#               return pr.data
#             } catch (err) {
#               core.setFailed(`PR fetch request failed with error ${err}`)
#             }

#       - name: Set variables in environment
#         id: set-variables
#         run: |
#           echo "PR_BRANCH=${{ fromJSON(steps.get-pr.outputs.result).head.ref }}" >> $GITHUB_OUTPUT
#           echo "ISSUE=${{ fromJSON(steps.get-pr.outputs.result).number }}" >> $GITHUB_OUTPUT
#           echo "REPO=${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}" >> $GITHUB_OUTPUT

  set_ready_label:
    name: Set ready label
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.comment.body, 'Assigned demo url is')  }}
    env:
      token: ${{ secrets.PAT }}

    steps:
      - name: Setup useful environment variables
        uses: FranzDiebold/github-env-vars-action@v2
        run: |
          echo "CI_REPOSITORY_SLUG=$Env:CI_REPOSITORY_SLUG"
          echo "CI_REPOSITORY_OWNER=$Env:CI_REPOSITORY_OWNER"
          echo "CI_REPOSITORY_OWNER_SLUG=$Env:CI_REPOSITORY_OWNER_SLUG"
          echo "CI_REPOSITORY_NAME=$Env:CI_REPOSITORY_NAME"
          echo "CI_REPOSITORY_NAME_SLUG=$Env:CI_REPOSITORY_NAME_SLUG"
          echo "CI_REPOSITORY=$Env:CI_REPOSITORY"
          echo "CI_REF_SLUG=$Env:CI_REF_SLUG"
          echo "CI_ACTION_REF_NAME=$Env:CI_ACTION_REF_NAME"
          echo "CI_ACTION_REF_NAME_SLUG=$Env:CI_ACTION_REF_NAME_SLUG"
          echo "CI_REF_NAME=$Env:CI_REF_NAME"
          echo "CI_REF_NAME_SLUG=$Env:CI_REF_NAME_SLUG"
          echo "CI_REF=$Env:CI_REF"
          echo "CI_HEAD_REF_SLUG=$Env:CI_HEAD_REF_SLUG"
          echo "CI_HEAD_REF=$Env:CI_HEAD_REF"
          echo "CI_BASE_REF_SLUG=$Env:CI_BASE_REF_SLUG"
          echo "CI_BASE_REF=$Env:CI_BASE_REF"
          echo "CI_SHA_SHORT=$Env:CI_SHA_SHORT"
          echo "CI_SHA=$Env:CI_SHA"
          echo "CI_PR_SHA_SHORT=$Env:CI_PR_SHA_SHORT"
          echo "CI_PR_SHA=$Env:CI_PR_SHA"
          echo "CI_PR_NUMBER=$Env:CI_PR_NUMBER"
          echo "CI_PR_ID=$Env:CI_PR_ID"
          echo "CI_PR_TITLE=$Env:CI_PR_TITLE"
          echo "CI_PR_DESCRIPTION=$Env:CI_PR_DESCRIPTION"
          echo "CI_ACTOR=$Env:CI_ACTOR"
          echo "CI_EVENT_NAME=$Env:CI_EVENT_NAME"
          echo "CI_RUN_ID=$Env:CI_RUN_ID"
          echo "CI_RUN_NUMBER=$Env:CI_RUN_NUMBER"
          echo "CI_WORKFLOW=$Env:CI_WORKFLOW"
          echo "CI_ACTION=$Env:CI_ACTION"
      - name: Print environment variables exposed by GitHub
        run: |
          echo "GITHUB_ACTOR=$Env:GITHUB_ACTOR"
          echo "GITHUB_REPOSITORY=$Env:GITHUB_REPOSITORY"
          echo "GITHUB_SHA=$Env:GITHUB_SHA"
          echo "GITHUB_REF=$Env:GITHUB_REF"
          echo "GITHUB_HEAD_REF=$Env:GITHUB_HEAD_REF"
          echo "GITHUB_BASE_REF=$Env:GITHUB_BASE_REF"
          echo "GITHUB_EVENT_NAME=$Env:GITHUB_EVENT_NAME"
          echo "GITHUB_RUN_ID=$Env:GITHUB_RUN_ID"
          echo "GITHUB_RUN_NUMBER=$Env:GITHUB_RUN_NUMBER"
          echo "GITHUB_WORKFLOW=$Env:GITHUB_WORKFLOW"
          echo "GITHUB_ACTION=$Env:GITHUB_ACTION"

      - name: Checkout correct repo and branch
        uses: actions/checkout@v3
        with:
          ref: ${{ env.CI_ACTION_REF_NAME }}
          token: ${{ secrets.PAT }}


      - name: Add label
        if: ${{env.CI_ACTION_REF_NAME != 'master' && !startsWith(env.CI_ACTION_REF_NAME, 'release') }}
        run: |
          gh auth login --with-token < <(echo ${{ secrets.PAT }})
          gh pr edit ${{env.CI_ACTION_REF_NAME}} --add-label "demo-available-cillian"