on:
  issue_comment:
    types:
      - created
      - edited
      - deleted

jobs:
  like-pizza:
    runs-on: ubuntu-latest
    if: ${{ github.event.comment.body == 'I like pizza'}}
    steps:
      - name: Like pizza
        uses: actions/github-script@v4
        with:
          script: |
            const {owner, repo} = context.issue
            github.reactions.createForIssueComment({
              owner,
              repo,
              comment_id: context.payload.comment.id,
              content: "+1",
            });

  trigger-quality-gate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup useful environment variables
        uses: FranzDiebold/github-env-vars-action@v2

      - name: log values
        run: echo ${{ CI_REPOSITORY_SLUG }}/.github/workflows/quality-gate.yml "${{ CI_REPOSITORY_SLUG }}/.github/workflows/quality-gate.yml"

      - name: trigger quality-gate
        uses: ${{ CI_REPOSITORY_SLUG }}/.github/workflows/quality-gate.yml
        with:
          e2e-branch: "Passed input data branch name from triggerrrrrrr"
