name: E2E Quality Gate Trigger

on:
  issue_comment:
    types: [created, edited]

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  get_pr_details:
    if: ${{ contains(github.event.comment.body, 'Assigned demo url is')  }}
    # && (github.event.comment.user.type == 'Bot') -- to be added for adaptive repo final check
    name: PR and Branch Name
    runs-on: ubuntu-latest
    outputs:
      PR_BRANCH: ${{ steps.get-branch.outputs.PR_BRANCH }}
      PR_NUMBER: ${{ steps.get-branch.outputs.PR_NUMBER }}
    steps:
      - name: Get Pr data
        id: get-pr
        uses: actions/github-script@v3
        with:
          script: |
            const prRequest = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            }
            try {
              const pr = await github.pulls.get(prRequest)
              console.log('pr.data.url', pr.data.url)
              return pr.data
            } catch (err) {
              core.setFailed(`PR fetch request failed with error ${err}`)
            }

      - name: Get Branch
        id: get-branch
        run: |
          echo "PR_BRANCH=${{ fromJSON(steps.get-pr.outputs.result).head.ref }}" >> $GITHUB_OUTPUT
          echo "PR_NUMBER=${{ fromJSON(steps.get-pr.outputs.result).number }}" >> $GITHUB_OUTPUT

  set_ready_label:
    name: Set ready label
    runs-on: ubuntu-latest
    needs: [get_pr_details]
    steps:
      - name: Setup useful environment variables
        uses: FranzDiebold/github-env-vars-action@v2

      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.get_pr_details.outputs.PR_BRANCH }}
          token: ${{ secrets.PAT }}

      - name: Add label
        run: |
          echo GH_TOKEN=
          filterArr=("aocc")
          gh auth login --with-token < <(echo ${{ secrets.PAT }})
          for t in $filterArr;
          do echo ${{needs.get_pr_details.outputs.PR_NUMBER}} |
          tr '[:upper:]' '[:lower:]'|
          grep $t && gh pr edit ${{needs.get_pr_details.outputs.PR_NUMBER}} --add-label "demo" || exit 0;
          done;
          gh pr edit ${{needs.get_pr_details.outputs.PR_NUMBER}} --add-label "demo"
        # gh auth login --with-token < <(echo ${{ secrets.PAT }})
